<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- משתנים כלליים -->
	<variable name="logDirectory" value="Logs" />

	<!-- איפה לשמור את הלוגים -->
	<targets>
		<target name="file" xsi:type="File" fileName="${logDirectory}/app-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />
	</targets>

	<!--if i want to send email-->
	<target xsi:type="Mail"
		name="email"
		smtpServer="smtp.yourserver.com"
		smtpPort="587"
		smtpAuthentication="Basic"
		smtpUserName="your_username"
		smtpPassword="your_password"
		enableSsl="true"
		from="from@yourdomain.com"
		to="to@yourdomain.com"
		subject="Application Log Error"
		html="false"
		layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />
	<!-- כללים -->
	<rules>
		<logger name="Microsoft.*" minlevel="Info" final="true" />
		<logger name="System.*" minlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="file" />

		<logger name="*" minlevel="Error" writeTo="file" />

	</rules>

</nlog>
